<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="index.css">
  <script type="text/javascript" src="jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="main.js"></script>
</head>

<body>
  <table id="table-stripe" class="table-stripe">
    <thead>
      <th>姓名</th>
      <th data-name="chinese" data-order="1">语文</th>
      <th data-name="math" data-order="1">数学</th>
      <th data-name="english" data-order="1">英语</th>
    </thead>
    <tbody>
      {{#each scoreList}}
      <tr>
        <td data-id={{studentId}}>{{name}}</td>
        <td>{{chinese}}</td>
        <td>{{math}}</td>
        <td>{{english}}</td>
        <td>
          <input type="button" class="del" value="delete">
        </td>
      </tr>
      {{/each}}
      <tr>
        <td>
          <input type="text">
        </td>
        <td>
          <input type="text">
        </td>
        <td>
          <input type="text">
        </td>
        <td>
          <input type="text">
        </td>
        <td>
          <input type="button" id="insStu" value="insert">
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
